body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 0;
    color: #333;
}

#d3-chart, #plotly-chart {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#d3-chart svg {
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bar {
    transition: fill 0.3s;
}

.bar:hover {
    fill: orange;
}

.legend {
    font-size: 12px;
    fill: #000;
}

.axis text {
    font-size: 12px;
    fill: #333;
}

.axis path,
.axis line {
    stroke: #333;
}

.axis-label {
    font-size: 14px;
    fill: #333;
    text-anchor: middle;
}
